html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
  font-weight: Normal 400; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: .2em;
  font-family: "Quattrocento Sans"; }

.title-heading {
  margin: 1em; }

#intro-video {
  position: relative;
  width: 100%;
  height: 100%; }

#wrapper {
  position: fixed;
  width: 100%;
  height: 100%; }
  #wrapper header {
    position: relative;
    background-color: #181818;
    margin: 0;
    padding: 0;
    text-align: center;
    display: table;
    width: 100%;
    -webkit-transition: height 0.4s;
    /* Safari */
    transition: height 0.4s;
    transition-timing-function: ease; }
    #wrapper header #menu-icon {
      position: absolute;
      margin: auto;
      margin-left: 0.3em;
      left: 0;
      top: 0;
      bottom: 0;
      height: 3.5em;
      width: auto;
      z-index: 1000; }
    #wrapper header #menu-icon:hover {
      cursor: pointer; }
    #wrapper header #twitter-icon {
      position: absolute;
      margin: auto;
      margin-right: 0.3em;
      right: 0;
      top: 0;
      bottom: 0;
      height: 3.5em;
      width: auto;
      z-index: 1000; }
    #wrapper header #page-title {
      color: #fff;
      position: relative;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: auto;
      display: table-cell;
      vertical-align: middle; }
  #wrapper #nav-bar {
    position: relative;
    height: 100%;
    float: left;
    display: inline-block;
    background-color: #181818;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: width 0.4s;
    /* Safari */
    transition: width 0.4s;
    transition-timing-function: ease; }
    #wrapper #nav-bar ul {
      margin: 0;
      padding: 0; }
    #wrapper #nav-bar li {
      list-style: none;
      padding: 1em 0;
      margin-left: 1em; }
    #wrapper #nav-bar a {
      text-decoration: none;
      color: #fff;
      width: 100%; }
    #wrapper #nav-bar .nav-item {
      white-space: nowrap;
      overflow: hidden;
      transition: opacity 0.2s;
      -webkit-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition-timing-function: ease; }
  #wrapper #content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    overflow: auto; }
    #wrapper #content .news-page-intro {
      text-align: center;
      position: relative;
      height: 30em;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 50%;
      z-index: 200;
      display: table; }
      #wrapper #content .news-page-intro .news-page-dimmer {
        position: absolute;
        background-color: #181818;
        width: 100%;
        height: 100%;
        opacity: .6;
        z-index: 300; }
      #wrapper #content .news-page-intro .new-this-week {
        display: table-cell;
        vertical-align: middle;
        max-width: 30em;
        width: 100%;
        text-align: center;
        position: relative;
        color: #fff;
        padding: 0;
        z-index: 400;
        font-size: 2em; }
        #wrapper #content .news-page-intro .new-this-week .new-this-week-desc {
          max-width: 25em;
          width: 90%;
          margin: .5em auto;
          font-size: 1em; }
    #wrapper #content .news-box-container {
      padding-bottom: 15em;
      margin: 0 auto;
      width: 90%;
      overflow-y: auto; }
      #wrapper #content .news-box-container .news-box {
        float: left;
        background-size: cover;
        position: relative;
        height: 15em;
        overflow: hidden;
        height: 0;
        width: 33.3333333%;
        padding-bottom: 33.3333333%; }
        #wrapper #content .news-box-container .news-box .news-box-title-external-box {
          text-align: center;
          position: absolute;
          width: 100%;
          height: 3em;
          bottom: 0;
          color: #fff;
          background-color: #181818;
          opacity: .8;
          -o-transition: ease 1s;
          -ms-transition: ease 1s;
          -moz-transition: ease 1s;
          -webkit-transition: ease 1s;
          transition: ease 1s; }
          #wrapper #content .news-box-container .news-box .news-box-title-external-box .news-box-title-external {
            position: relative;
            top: 50%;
            transform: translateY(-50%); }
        #wrapper #content .news-box-container .news-box .news-box-title-external-hiding {
          height: 0;
          opacity: 0; }
        #wrapper #content .news-box-container .news-box .news-box-info {
          text-align: center;
          position: absolute;
          bottom: 0;
          display: inline-block;
          width: 100%;
          color: #fff;
          width: 100%;
          background-color: #181818;
          opacity: 0;
          height: 100%;
          -o-transition: ease 1s;
          -ms-transition: ease 1s;
          -moz-transition: ease 1s;
          -webkit-transition: ease 1s;
          transition: ease 1s; }
          #wrapper #content .news-box-container .news-box .news-box-info .news-box-title {
            letter-spacing: 0.2em;
            font-size: 1.5em; }
        #wrapper #content .news-box-container .news-box .news-box-info-active {
          opacity: .8; }

body {
  font: 300 "Quattrocento Sans";
  color: #181818; }

footer {
  width: 100%;
  background-color: #fff;
  color: #181818;
  text-align: center;
  bottom: 0;
  position: fixed;
  z-index: 1500;
  -o-transition: ease 0.1s;
  -ms-transition: ease 0.1s;
  -moz-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s; }
  footer #copyright {
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%; }
  footer p {
    margin: 0;
    padding: 0; }
  footer .menu-items {
    z-index: 2000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    height: 100%; }
    footer .menu-items li {
      display: inline-block;
      margin: 0 .2em;
      height: 100%; }
      footer .menu-items li a {
        opacity: 1 !important;
        display: inline-block;
        text-decoration: none;
        color: #a5a5a5;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      footer .menu-items li ul {
        display: none; }

.footer-hide {
  height: 0;
  overflow: hidden; }

.footer-show {
  height: 2.5em; }

.big-header {
  height: 6em; }

.small-header {
  height: 5em; }

.menu-showing {
  width: 15em; }

.menu-hiding {
  width: 0; }

.nav-item-showing {
  opacity: 1; }

.nav-item-hiding {
  opacity: 0; }

.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: 50%; }

.grayscale {
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: url(resources.svg#desaturate);
  /* Gecko */
  filter: gray;
  /* IE */
  -webkit-filter: grayscale(1);
  /* Old WebKit */ }

/*# sourceMappingURL=style.css.map */
