//in terminal --> recompiles style.css file
// sass --watch style.scss:style.css


//COLORS
$primary-color: #181818;
$secondary-color: #fff;

//SIZES
$big-header-height: 6em;
$header-footer-height: 5em;
$header-icon-height: 3.5em;
$header-icon-margin: .3em;
$menu-width: 15em;

//TIME
$menu-transition-time: .4s;
$nav-item-transition-time: $menu-transition-time/2;
$news-box-info-transition-time: 1s;
$footer-transition-time: .1s;

//FONTS
$font-stack: 'Quattrocento Sans';


//---------------------------

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial;
	font-weight: Normal 400;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	letter-spacing: .2em;
	font-family: $font-stack;
}

.title-heading{
	margin: 1em;
}

#intro-video{
	position: relative;
	width: 100%;
	height: 100%;
}

#wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	
	header {
		position: relative;
		background-color: $primary-color;
		margin: 0;
		padding: 0;
		text-align: center;
		display: table;
		width: 100%;
		
		//transitions
		-webkit-transition: height $menu-transition-time; /* Safari */
		transition: height $menu-transition-time;
	    transition-timing-function: ease;
		//end transitions
		
		#menu-icon {
			position: absolute;
			margin: auto;
			margin-left: $header-icon-margin;
			left: 0;
			top: 0;
			bottom: 0;
			height: $header-icon-height;
			width: auto;
			z-index: 1000;
		}
		#menu-icon:hover {
			cursor: pointer;
		}
		
		#twitter-icon {
			position: absolute;
			margin: auto;
			margin-right: $header-icon-margin;
			right: 0;
			top: 0;
			bottom: 0;
			height: $header-icon-height;
			width: auto;
			z-index: 1000;
		}
		
		#page-title{
			color: $secondary-color;
			position: relative;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: auto;
			display: table-cell;
			vertical-align: middle;
		}
	}
	
	#nav-bar {
		position: relative;
		height: 100%;
		float: left;
		display: inline-block;
		background-color: $primary-color;
		margin: 0;
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;
		
		//transitions
		-webkit-transition: width $menu-transition-time; /* Safari */
		transition: width $menu-transition-time;
	    transition-timing-function: ease;
		//end transitions
		
		//menu list
		ul{
			margin: 0;
			padding: 0;
		}
		//menu list items
		li {
			list-style: none;
			padding: 1em 0;
			margin-left: 1em;
		}
		//menu links
		a {
			text-decoration: none;
			color: $secondary-color;
			width: 100%;
		}
		
		.nav-item{
			white-space: nowrap;
			overflow: hidden;
			
			transition: opacity $nav-item-transition-time;
			-webkit-transition: opacity $nav-item-transition-time;
			-ms-transition: opacity $nav-item-transition-time;
			-moz-transition: opacity $nav-item-transition-time;
			-o-transition: opacity $nav-item-transition-time;
			transition-timing-function: ease;
		}
	}
	
	#content{
		width: 100%;
		height: 100%;
		position: absolute;
		display: inline-block;
		overflow: auto;
		
			.news-page-intro{
				text-align: center;
				position: relative;
				height: 30em;
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position-x: 50%;
				z-index: 200;
				display: table;
				
				.news-page-dimmer{
					position: absolute;
					background-color: $primary-color;
					width: 100%;
					height: 100%;
					opacity: .6;
					z-index: 300;
				}
				
				.new-this-week{
					display: table-cell;
					vertical-align: middle;
					max-width: 30em;
					width: 100%;
					text-align: center;
					position: relative;
					color: $secondary-color;
					padding: 0;
					z-index: 400;
					.new-this-week-desc{
						max-width: 25em;
						width: 90%;
						margin: auto;
					}
				}
			}
		
			.news-box-container{
				padding-bottom: 15em;
				margin: 0 auto;
				width: 90%;
				overflow-y: auto;
				
				.news-box{			
					float:left;
					background-size: cover;
					position: relative;
					height: 15em;
					overflow:hidden;
					height: 0;
					width: 33.3333333%;
					padding-bottom: 33.3333333%;
					
					.news-box-info{
						position: absolute;
						display: inline-block;
						width: 100%;
						
						.news-box-title{
							color: $secondary-color;
							opacity: 0;
							font-size: 1.5em;
							text-align: center;
							position: relative;
							margin: 0;
							//TRANSITIONS
							-o-transition: ease $news-box-info-transition-time*2;
							-ms-transition: ease $news-box-info-transition-time*2;
							-moz-transition: ease $news-box-info-transition-time*2;
							-webkit-transition: ease $news-box-info-transition-time*2;
							transition: ease $news-box-info-transition-time*2;
						}
						
						.news-box-title-active{
							padding-top: 10%;
							color: $secondary-color;
							opacity: 1;
						}
						
						.news-box-description{
							position: absolute;
							width: 100%;
							color: $secondary-color;
							text-align: left;
							
							//TRANSITIONS
							-o-transition: ease $news-box-info-transition-time;
							-ms-transition: ease $news-box-info-transition-time;
							-moz-transition: ease $news-box-info-transition-time;
							-webkit-transition: ease $news-box-info-transition-time;
							transition: ease $news-box-info-transition-time;
							
							.news-box-author{
								margin: 0;
								padding: 0;
							}
							.news-box-date{
								margin: 0;
								padding: 0;
							}
							.news-box-description{
								margin: 0;
								padding: 0;
							}
						}
					}//end news box info

					.news-box-description-hiding{
						padding:5em 0;
						opacity: 0;
					}
					.news-box-description-showing{
						padding: 0;
						opacity: 1;
					}
					
					//ON HOVER ACTIONS: NEWS BOX
					.news-box-fader{
						position: absolute;
						width: 100%;
						height: 100%;
						//background-color: $primary-color;
						//opacity: .3;
						
						//TRANSITION--------
						-o-transition: ease $news-box-info-transition-time;
					    -ms-transition: ease $news-box-info-transition-time;
					    -moz-transition: ease $news-box-info-transition-time;
					    -webkit-transition: ease $news-box-info-transition-time;
					    transition: ease $news-box-info-transition-time;
					    //END TRANSITION------
					}
					
					.news-box-fader-active{
						background-color: $primary-color;
						opacity: .8;
					}					
				}//end news box
		}//end news box container
	}//end content
}//end wrapper

body {
  font: 300 $font-stack;
  color: $primary-color;
}

//FOOTER----------
footer {
	width:100%;
	background-color: $secondary-color;
	color: $primary-color;
	text-align: center;
	bottom: 0;
	position: fixed;
	z-index: 1500;
	
	//TRANSITION--------
	-o-transition: ease $footer-transition-time;
    -ms-transition: ease $footer-transition-time;
    -moz-transition: ease $footer-transition-time;
    -webkit-transition: ease $footer-transition-time;
    transition: ease $footer-transition-time;
    //END TRANSITION------
	
	#copyright{
		text-align: center;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
	
	.menu-items{
		z-index: 2000;
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    li{
		    display: inline-block;
		    float: left;
			a{
				opacity: 1 !important;
				display: inline-block;
				text-decoration: none;
				color: $primary-color;
			}
	    }
	}
}

.footer-hide{	
	height: 0;
	overflow: hidden;
}

.footer-show{
	height: $header-footer-height/2;
}

//HEADER CSS---------
.big-header{
	height: $big-header-height;
}

.small-header{
	height: $header-footer-height;
}

//MENU CSS-----------

.menu-showing{
	width: $menu-width;
}

.menu-hiding{
	width: 0;
}

.nav-item-showing{
	opacity: 1;
}

.nav-item-hiding{
	opacity: 0;
}

//PARALLAX-----------
.parallax{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

//FILTERS------------
.grayscale { 
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}