//in terminal --> recompiles style.css file
// sass --watch style.scss:style.css


//COLORS
$primary-color: #181818;
$secondary-color: #fff;
$light-text-color: #a5a5a5;

//SIZES
$the-w-size: 3em;
$big-header-height: 6em;
$header-footer-height: 5em;
$header-icon-height: 3.5em;
$header-icon-margin: .3em;
$menu-width: 15em;
$title-spacing: .2em;
$nex-box-title-size: 1.5em;
$news-box-title-external-height: 3em;
$news-box-author-image-dim: 3em;

//TIME
$menu-transition-time: .4s;
$nav-item-transition-time: $menu-transition-time/2;
$news-box-info-transition-time: 1s;
$footer-transition-time: .1s;
$the-w-transition-time: .5s;

//FONTS
$font-stack: 'Quattrocento Sans';


//---------------------------

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial;
	font-weight: Normal 400;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	letter-spacing: .2em;
	font-family: $font-stack;
}

.title-heading{
	margin: 1em;
}

#intro-video{
	position: relative;
	width: 100%;
	height: 100%;
}

#wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	
	header {
		position: relative;
		background-color: $primary-color;
		margin: 0;
		padding: 0;
		text-align: center;
		display: table;
		width: 100%;
		
		//transitions
		-webkit-transition: height $menu-transition-time; /* Safari */
		transition: height $menu-transition-time;
	    transition-timing-function: ease;
		//end transitions
		
		#menu-icon {
			position: absolute;
			margin: auto;
			margin-left: $header-icon-margin;
			left: 0;
			top: 0;
			bottom: 0;
			height: $header-icon-height;
			width: auto;
			z-index: 1000;
		}
		#menu-icon:hover {
			cursor: pointer;
		}
		
		#title-box{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			
			#w-logo{
				font-family: times serif;
				font-weight: 200;
				font-size: $the-w-size;
				color: $secondary-color;
				//display: block;
				
				//TRANSITION--------
				-o-transition: ease $the-w-transition-time;
			    -ms-transition: ease $the-w-transition-time;
			    -moz-transition: ease $the-w-transition-time;
			    -webkit-transition: ease $the-w-transition-time;
			    transition: ease $the-w-transition-time;
			    //END TRANSITION------
			}
			#the-page-title{
				//display: block;
				color: $secondary-color;
				font-size: $the-w-size/3;
				
				//TRANSITION--------
				-o-transition: ease $the-w-transition-time;
			    -ms-transition: ease $the-w-transition-time;
			    -moz-transition: ease $the-w-transition-time;
			    -webkit-transition: ease $the-w-transition-time;
			    transition: ease $the-w-transition-time;
			    //END TRANSITION------
			}
			.page-title-header-small{
				font-size: $the-w-size/2 !important;
				letter-spacing: $title-spacing*2;
			}
			.w-logo-header-small{
				font-size: 0em !important;
			}
		}
		
		#twitter-icon {
			position: absolute;
			margin: auto;
			margin-right: $header-icon-margin;
			right: 0;
			top: 0;
			bottom: 0;
			height: $header-icon-height;
			width: auto;
			z-index: 1000;
		}
	}
	
	#nav-bar {
		position: relative;
		height: 100%;
		float: left;
		display: inline-block;
		background-color: $primary-color;
		margin: 0;
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;
		
		//transitions
		-webkit-transition: width $menu-transition-time; /* Safari */
		transition: width $menu-transition-time;
	    transition-timing-function: ease;
		//end transitions
		
		
		#search-box{
			position: relative;
			margin: .2em auto;
			white-space: nowrap;
			
			#search-input{
				border-radius: 20px;
				outline: none;
			}
		}
		
		//menu list
		ul{
			margin: 0;
			padding: 0;
		}
		//menu list items
		li {
			list-style: none;
			padding: 1em 0;
			margin-left: 1em;
		}
		//menu links
		a {
			text-decoration: none;
			color: $secondary-color;
			width: 100%;
		}
		
		.nav-item{
			white-space: nowrap;
			overflow: hidden;
			
			transition: opacity $nav-item-transition-time;
			-webkit-transition: opacity $nav-item-transition-time;
			-ms-transition: opacity $nav-item-transition-time;
			-moz-transition: opacity $nav-item-transition-time;
			-o-transition: opacity $nav-item-transition-time;
			transition-timing-function: ease;
		}
	}
	
	#content{
		width: 100%;
		height: 100%;
		position: absolute;
		display: inline-block;
		overflow: auto;
		
		#content-wrapper{
			
			.news-page-intro{
				text-align: center;
				position: relative;
				height: 30em;
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position-x: 50%;
				z-index: 200;
				display: table;
					
					.news-page-dimmer{
						position: absolute;
						background-color: $primary-color;
						width: 100%;
						height: 100%;
						opacity: .6;
						z-index: 300;
					}
					
					.new-this-week{
						display: table-cell;
						vertical-align: middle;
						max-width: 30em;
						width: 100%;
						text-align: center;
						position: relative;
						color: $secondary-color;
						padding: 0;
						z-index: 400;
						font-size: 2em;
						
						.new-this-week-desc{
							max-width: 25em;
							width: 90%;
							margin: .5em auto;
							font-size: 1em;
						}
					}
				}
			
				.news-box-container{
					padding-bottom: 15em;
					margin: 0 auto;
					width: 90%;
					overflow-y: auto;
					
					.news-box{
						float:left;
						position: relative;
						height: 15em;
						overflow:hidden;
						height: 0;
						width: 33.3333333%;
						padding-bottom: 33.3333333%;
						
						.news-box-link{
							z-index: 3000;
							position: absolute;
							height: 100%;
							width: 100%;
						}
						
						.news-box-background{
							background-size: cover;
							position: absolute;
							width: 100%;
							height: 100%;
						}
						
						.news-box-title-external-box{
							text-align: center;
							position: absolute;
							width: 100%;
							height: $news-box-title-external-height;
							bottom: 0;
							color: $secondary-color;
							background-color: $primary-color;
							opacity: .8;
							
							//TRANSITION--------
							-o-transition: ease $news-box-info-transition-time;
						    -ms-transition: ease $news-box-info-transition-time;
						    -moz-transition: ease $news-box-info-transition-time;
						    -webkit-transition: ease $news-box-info-transition-time;
						    transition: ease $news-box-info-transition-time;
						    //END TRANSITION------
						    
						    .news-box-title-external{
							    position: relative;
								top: 50%;
								transform: translateY(-50%);
						    }
						}
						
						.news-box-title-external-hiding{
							height: 0;
							opacity: 0;
						}
						
						.news-box-info{
							text-align: center;
							position: absolute;
							display: inline-block;
							color: $secondary-color;
							background-color: $primary-color;
							width: 100%;
							height: 100%;
							opacity: 0;
							bottom: 0;
							
							//TRANSITION--------
							-o-transition: ease $news-box-info-transition-time;
						    -ms-transition: ease $news-box-info-transition-time;
						    -moz-transition: ease $news-box-info-transition-time;
						    -webkit-transition: ease $news-box-info-transition-time;
						    transition: ease $news-box-info-transition-time;
						    //END TRANSITION------
							
							.news-box-title{
								font-size: $nex-box-title-size;
								margin-top: .5em !important;
							}
							
							.news-box-author-image{
								height: $news-box-author-image-dim;
								width: auto;
							}
							
							.news-box-author{
								margin: .5em auto;
							}
							
							.news-box-description{
								text-align: left;
								width: 85%;
								margin: .5em auto;
							}
							
						}//end news box info
						
						//ON HOVER ACTIONS: NEWS BOX
						.news-box-info-active{
							opacity: .8;
						}
					}//end news box
			}//end news box container
		}//end content-wrapper
	}//end content
}//end wrapper

body {
  font: 300 $font-stack;
  color: $primary-color;
}

//FOOTER----------
footer {
	width:100%;
	background-color: $secondary-color;
	color: $primary-color;
	text-align: center;
	bottom: 0;
	position: fixed;
	z-index: 3000;
	
	//TRANSITION--------
	-o-transition: ease $footer-transition-time;
    -ms-transition: ease $footer-transition-time;
    -moz-transition: ease $footer-transition-time;
    -webkit-transition: ease $footer-transition-time;
    transition: ease $footer-transition-time;
    //END TRANSITION------
	
	#bottom-menu{
		text-align: center;
		overflow: hidden;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	p {
		margin: 0;
		padding: 0;
	}
	
	.menu-items{
		z-index: 2000;
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    text-align: center;
	    height: 100%;
	    
	    li{
		    display: inline-block;
			margin: 0 .2em;
			height: 100%;
			a{
				opacity: 1 !important;
				display: inline-block;
				text-decoration: none;
				color: $light-text-color;
				
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			ul{
				display:none; //prevents sublists from being displayed in the footer
			}
	    }
	}
}

.footer-hide{	
	height: 0;
	overflow: hidden;
}

.footer-show{
	height: $header-footer-height/2;
}

//HEADER CSS---------
.big-header{
	height: $big-header-height;
}

.small-header{
	height: $header-footer-height;
}

//MENU CSS-----------

.menu-showing{
	width: $menu-width;
}

.menu-hiding{
	width: 0;
}

.nav-item-showing{
	opacity: 1;
}

.nav-item-hiding{
	opacity: 0;
}

//PARALLAX-----------
.parallax{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

//FILTERS------------
.grayscale { 
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}